@import url('mixins-prefixes.less');
@import url('normalize.less');

@container-width: 60em;

@background-primary: #ffffff;
@background-primary-accent: #ffcc95;
@color-primary: #051014;
@color-primary-accent: #000d0c;
@background-secondary: #820043;
@background-secondary-accent: #ad2b6e;
@color-secondary: #ffffff;


@breakpoint-xs: 25em;
@breakpoint-s: 32em;
@breakpoint-m: 40em;
@breakpoint-l: 50em;
@breakpoint-xl: 60em;
@breakpoint-xxl: 80em;


html{
	min-height: 100%;
	background-color: @background-primary-accent;
	color: @color-primary;
}
body{
	min-height: 100%;
}
html#opening-page{
	background-color: #bbbdc0;
	background-image: url('../img/opening-bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	&>body{
		&::before, &::after{
			content: '';
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 0;
		}
		&::before{
			background-image: url('../img/opening-bg.jpg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			filter: url('../img/filters.svg#blur');
			-webkit-filter: blur(.75em);
			-webkit-filter: blur(1vmin);
			filter: blur(.75em);
			filter: blur(1vmin);
			filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='12');
		}
		&::after{
			background-color: fade(#000, 10%);
		}
	}

	main#opening-content{
		position: fixed;
		top: 50%;
		left: 0;
		right: 0;
		text-align: center;
		color: #fff;
		z-index: 5;

		&>h1{
			position: relative;
			display: inline-block;
			font-size: 3em;
			padding: .5em;
			margin: -2em auto;
			max-width: 9em;
			line-height: 1em;
			white-space: nowrap;
			text-transform: uppercase;
			.text-shadow(0 0 2px #000);

			&::before, &::after{
				content: '';
				display: block;
				position: absolute;
				right: 0;
				left: 0;
				width: auto;
				height: .125em;
				background-color: #fff;
				.box-shadow(0 0 2px #000);
				.transition(all .2s linear);
			}
			&::before{
				top: 0;
			}
			&::after{
				bottom: 0;
			}
		}

		&>#opening-info{
			position: fixed;
			right: 0;
			bottom: 0;
			left: 0;
			padding: 1em;
		}
	}
}

a{
	color: inherit;
}

.clearfix{
	display: block;
	clear: both;
}
.container{
	margin-right: .5em;
	margin-left: .5em;
	position: relative;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	&:after{
		content: '';
		&:extend(.clearfix);
	}
}
@media screen and (min-width: @breakpoint-m) {
	.container{
		width: @breakpoint-m;
		margin-right: auto;
		margin-left: auto;
	}
}
@media screen and (min-width: @breakpoint-l) {
	.container{
		width: @breakpoint-l;
	}
}
@media screen and (min-width: @breakpoint-xl) {
	.container{
		width: @breakpoint-xl;
	}
}
@media screen and (min-width: @breakpoint-xxl) {
	.container{
		width: @breakpoint-xxl;
	}
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

#header{
	background-color: @background-secondary;

	a{
		float: left;
		padding: 1em;
		text-align: center;
		background-color: @background-secondary;
		color: @color-secondary;
		text-decoration: none;

		&:hover{
			background-color: @background-secondary-accent;
		}
	}
}
#logo{
	width: 9em;
}
#logo-text{
	// &:extend(.sr-only);
}
#header-menu{
	float: right;
}


#page{
	&>.container{
		padding-right: 1em;
		padding-bottom: 1em;
		padding-left: 1em;
		background-color: @background-primary;
	}
}

fieldset{
	padding: 0 1em;
	margin: 1em 0;
	background-color: @background-primary-accent;
	border: none;
	
	&>legend{
		padding: .5em;
		background-color: @background-secondary;
		color: @color-secondary;
		.border-radius(.5em);
	}

	&>div{
		position: relative;
		margin: 1em 0;
	}
}
fieldset+div{
	margin-top: 1em;
	text-align: right;
}
label, button, input, select, textarea{
	display: inline-block;
	margin: 0;
	padding: .5em;
}
button{
	background-color: @background-secondary;
	color: @color-secondary;
	border-color: @background-secondary;
	.border-radius(.5em);

	&:active{
		outline: 0;
		background-color: @background-secondary-accent;
		border-color: @background-secondary-accent;
	}
}
input[type="file"]{
	background-color: #fff;

	&::-webkit-file-upload-button{
		// &:extend(button);
		padding: .25em .5em;
		margin: -.25em;

		// &:active{
		// 	&:extend(button:active);
		// }
	}
}
input[type="checkbox"], input[type="radio"]{
	&~.checkbox-label, &~.radio-label{
		margin-left: .5em;
	}
	&:not(:checked){
		&~.checkbox-label, &~.radio-label{
			opacity: .7;
		}
	}
}
select{
	.border-radius(0);

	&[size="1"], &:not([size]), &:not([multiple]){
		-webkit-appearance: menulist-button;
		height: 2em;

		option{
			padding: .5em;
		}
	}
}
textarea{
	resize: vertical;
}

input, select, textarea{
	&~.field-indication{
		position: absolute;
		bottom: 100%;
		bottom: ~"calc(100% + .5em)";
		left: 0;
		padding: .5em;
		font-size: .8em;
		font-style: italic;
		background-color: @background-secondary;
		color: @color-secondary;
		opacity: 0;
		visibility: hidden;
		.transition(~"opacity .3s, visibility 0 .3s");

		&:after{
			content: '';
			position: absolute;
			top: 100%;
			left: 1em;
			border: .5em solid transparent;
			border-top-color: @background-secondary;
		}
	}
	&:focus~.field-indication{
		opacity: 1;
		visibility: visible;
		.transition(~"opacity .3s, visibility 0 0");
	}
}
label[for]:first-child:not(:last-child){
	width: 100%;

	&+input, &+select, &+textarea{
		width: 100%;
	}
}
@media screen and (min-width: @breakpoint-l) {
	label[for]:first-child:not(:last-child){
		width: 25%;

		&+input, &+select, &+textarea{
			width: 75%;

			&~.field-indication{
				left: 25%;
			}
		}
	}
}

.alert{
	padding: .75em;
	background-color: @background-secondary;
	color: @color-secondary;
	.border-radius(.5em);

	&.info{
		background-color: #33b5e5;
	}
	&.success{
		background-color: #99cc00;
	}
	&.error{
		background-color: #ff4444;
	}
	&.warning{
		background-color: #ffbb33;
	}
}

img{
	max-width: 100%;
	height: auto;
}

.album-description{
	margin-left: 0;
}
.users-list{
	margin: 0 -.5em;
	padding: 0;
	list-style: none;
	
	&:after{
		content: '';
		&:extend(.clearfix);
	}

	&>.user{
		display: inline-block;
		vertical-align: middle;
		padding: .5em;
		width: 20%;

		&>a{
			display: block;
			padding: .5em;
			text-align: center;
			vertical-align: middle;
			text-decoration: none;
			background-color: @background-primary-accent;

			&:hover, &:focus{
				background-color: darken(@background-primary-accent, 10%);
			}
			&>picture.user-avatar{
				position: relative;
				display: block;
				vertical-align: middle;
				padding-top: 100%;

				&>source, &>img{
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
			&>.user-pseudo{
				display: block;
				margin-top: .5em;
			}
		}
	}
}
.albums-list{
	margin: 0;
	padding: 0;
	list-style: none;

	&>.album{
		&>a{
			display: block;
			padding: 1em;
			text-decoration: none;
			background-color: @background-primary-accent;

			&:hover, &:focus{
				background-color: darken(@background-primary-accent, 10%);
			}

			&>.album-preview{
				margin: 0 -.5em;
				padding: 0;
				list-style: none;
				overflow: hidden;

				&:after{
					content: '';
					&:extend(.clearfix);
				}

				&>.album-preview-thumb{
					display: inline-block;
					vertical-align: middle;
					padding: .5em;
					width: 20%;

					&>picture.thumb{
						position: relative;
						display: block;
						vertical-align: middle;
						padding-top: 100%;

						&>source, &>img{
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							width: 100%;
							height: 100%;
						}
					}
				}
			}
		}
	}

	&>.album+.album{
		margin-top: 1em;
	}
}
.album-photos{
	margin: 0;
	padding: 0;
	list-style: none;

	&>li{
		padding-top: 2em;
	}

	.photo{
		position: relative;
		margin: 0;
		min-height: 5em;

		&>picture{
			display: block;

			&>source, &>img{
				display: block;
				width: 100%;
				height: auto;
			}
		}

		&>.photo-caption{
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			padding: 1em;
			background-color: fade(@background-secondary, 30%);
			color: fade(@color-secondary, 60%);
			transition: .3s;

			&>h2{
				margin: 0;
			}
		}
		&:hover, &:focus{
			&>.photo-caption{
				background-color: fade(@background-secondary, 80%);
				color: @color-secondary;
			}
		}
	}
}

#footer{
	&>.container{
		padding-right: 1em;
		padding-left: 1em;
	}
}