@import url('mixins-prefixes.less');
@import url('normalize.less');

@container-width: 60em;

@background-primary: #ffffff;
@background-primary-accent: #ffcc95;
@color-primary: #051014;
@color-primary-accent: #000d0c;
@background-secondary: #820043;
@background-secondary-accent: #ad2b6e;
@color-secondary: #ffffff;



html{
	min-height: 100%;
	background-color: @background-primary-accent;
	color: @color-primary;
}
a{
	color: inherit;
}

.clearfix{
	display: block;
	clear: both;
}
.container{
	max-width: @container-width;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	&:after{
		content: '';
		&:extend(.clearfix);
	}
}
@media screen and (max-width: @container-width) {
	.container{
		max-width: auto;
		margin-right: .5em;
		margin-left: .5em;
	}
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

#header{
	background-color: @background-secondary;

	a{
		float: left;
		padding: 1em;
		text-align: center;
		background-color: @background-secondary;
		color: @color-secondary;
		text-decoration: none;

		&:hover{
			background-color: @background-secondary-accent;
		}
	}
}
#logo{
	width: 9em;
}
#logo-text{
	// &:extend(.sr-only);
}
#header-menu{
	float: right;
}


#page{
	&>.container{
		padding-right: 1em;
		padding-bottom: 1em;
		padding-left: 1em;
		background-color: @background-primary;
	}
}
fieldset{
	padding: 0 1em;
	margin: 1em 0;

	&>div{
		position: relative;
		margin: 1em 0;
	}
}
fieldset+div{
	margin-top: 1em;
	text-align: right;
}
legend{
	padding: .5em;
}
label, button, input, select, textarea{
	display: inline-block;
	margin: 0;
	padding: .5em;
}
select{
	-webkit-appearance: menulist-button;
	.border-radius(0);

	&[size="1"], &:not([size]){
		height: 2em;

		option{
			padding: .5em;
		}
	}
}
textarea{
	resize: vertical;
}
label:first-child:not(:last-child){
	width: 25%;

	&+input, &+select, &+textarea{
		width: 75%;
		
		&~.field-indication{
			position: absolute;
			bottom: 100%;
			bottom: ~"calc(100% + .5em)";
			left: 25%;
			padding: .5em;
			font-size: .8em;
			font-style: italic;
			background-color: @background-secondary;
			color: @color-secondary;
			opacity: 0;
			visibility: hidden;
			.transition(~"opacity .3s, visibility 0 .3s");

			&:after{
				content: '';
				position: absolute;
				top: 100%;
				left: 1em;
				border: .5em solid transparent;
				border-top-color: @background-secondary;
			}
		}
		&:focus~.field-indication{
			opacity: 1;
			visibility: visible;
			.transition(~"opacity .3s, visibility 0 0");
		}
	}
}

img{
	max-width: 100%;
	height: auto;
}

#footer{
	&>.container{
		padding-right: 1em;
		padding-left: 1em;
	}
}