@import url('mixins-prefixes.less');
@import url('normalize.less');

@container-width: 60em;
@header-height: 3em;

@background-primary: #ffffff;
@background-primary-accent: #d7d7d7;
@color-primary: #051014;
@color-primary-accent: #000d0c;
@background-secondary: #820043;
@background-secondary-accent: #ad2b6e;
@color-secondary: #ffffff;


@breakpoint-xs: 25em;
@breakpoint-s: 32em;
@breakpoint-m: 40em;
@breakpoint-l: 50em;
@breakpoint-xl: 60em;
@breakpoint-xxl: 80em;


html{
	font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	min-height: 100%;
	background-color: @background-primary-accent;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: @color-primary;

	&::before, &::after{
		content: '';
		position: fixed;
		top: -1em;
		right: -1em;
		bottom: -1em;
		left: -1em;
		z-index: 0;
	}
	&::before{
		background-color: #bbbdc0;
		background-image: url('../img/opening-bg.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		filter: url('../img/filters.svg#blur');
		-webkit-filter: blur(.75em);
		-webkit-filter: blur(1vmin);
		filter: blur(.75em);
		filter: blur(1vmin);
		filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='12');
		zoom: 1.01;
	}
	&::after{
		background-color: fade(@background-primary, 50%);
	}
}
body{
	position: relative;
	z-index: 1;
	min-height: 100%;
}

a{
	color: inherit;
}

.left{
	float: left;
}
.right{
	float: right;
}
.clearfix{
	display: block;
	clear: both;
}
.container{
	margin-right: .5em;
	margin-left: .5em;
	position: relative;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	&:after{
		content: '';
		&:extend(.clearfix);
	}
}
@media screen and (min-width: @breakpoint-m) {
	.container{
		width: @breakpoint-m;
		margin-right: auto;
		margin-left: auto;
	}
}
@media screen and (min-width: @breakpoint-l) {
	.container{
		width: @breakpoint-l;
	}
}
@media screen and (min-width: @breakpoint-xl) {
	.container{
		width: @breakpoint-xl;
	}
}
@media screen and (min-width: @breakpoint-xxl) {
	.container{
		width: @breakpoint-xxl;
	}
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

#header{
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	left: 0;
	height: @header-height;
	color: @color-secondary;
	background-color: @background-secondary;
	.gradient(@background-secondary, lighten(@background-secondary, 5%), @background-secondary);

	a{
		float: left;
		padding: 1em .5em;
		height: @header-height;
		text-align: center;
		text-decoration: none;
		.transition(200ms);

		@media screen and (min-width: @breakpoint-xs) {
			padding: 1em;
		}

		&:hover, &:focus{
			background-color: @background-secondary-accent;
			background-color: lighten(@background-secondary, 5%);
			outline: none;
		}
		&:active{
			background-color: @background-secondary-accent;
			background-image: none;
		}
		
	}
}
#logo{
	&>#logo-text{
		display: none;
	}
	&>#logo-alternative-text{
		display: inline;
	}
	@media screen and (min-width: @breakpoint-l) {
		&>#logo-text{
			display: inline;
		}
		&>#logo-alternative-text{
			display: none;
		}
	}
}
#header-menu{
	float: right;
}


#page{
	margin-top: @header-height;

	&>.container{
		padding-right: .5em;
		padding-bottom: .5em;
		padding-left: .5em;
		background-color: @background-primary;
		
		@media screen and (min-width: @breakpoint-l) {
			padding-right: 1em;
			padding-bottom: 1em;
			padding-left: 1em;
		}
	}

}
#home-page{
	&.js{
		#header{
			background: none;
			color: @color-primary;
			.transition(~"background-color 200ms, background-image 200ms");

			a{
				&:hover, &:focus{
					background-color: fade(@background-secondary-accent, 40%);
				}
				&:active{
					background-color: @background-secondary-accent;
				}
			}
		}
		&.scrolled{
			#header{
				&:extend(#header);
				background-image: none;
			}
		}
		&:not(.scrolled){
			#header{
				&:hover{
					&:extend(#header);
					background-image: none;
				}
			}
		}
	}
	#logo{
		display: none;
	}
	#page{
		&>.container{
			background-color: transparent;
			&>h1{
				text-align: center;
			}
		}
	}

	.users-list{
		&>.user{
			&>a{
				background-color: #fff;
			}
		}
	}
	fieldset{
		background-color: #fff;
	}

	&::after{
		background-color: fade(@background-primary, 70%);
	}
}
#user-album-page{
	::before{
		content: none;
	}
	::after{
		content: none;
	}
	&.js.photo-viewer{
		@viewer-sidebar-width: 18em;
		@viewer-dock-height: 6em;
		@media screen and (min-width: @breakpoint-l) and (orientation: landscape) {
			@viewer-dock-height: 10em;
		}

		.container{
			width: auto;
			max-width: auto;
			margin: 0;
		}

		#page{
			&>.container{
				position: fixed;
				top: @header-height;
				right: 0;
				bottom: 0;
				left: 0;
				padding: 0;

				&>.album-photos{
					position: absolute;
					z-index: 20;
					top: 0;
					right: 0;
					bottom: @viewer-dock-height;
					left: 0;
					margin: 0;
					padding: 0;
					overflow: hidden;
					background-color: @background-primary-accent;

					@media screen and (min-width: @breakpoint-l) and (orientation: landscape) {
						right: @viewer-sidebar-width;
					}

					&>li{
						position: absolute;
						z-index: 25;
						top: 0em;
						right: 0em;
						bottom: 0em;
						left: 0em;
						width: 100%;
						height: 100%;
						padding: 0;
						opacity: 0;
						.transition(opacity 200ms);

						@media screen and (min-width: @breakpoint-l) {
							// top: 1em;
							// right: 1em;
							// bottom: 1em;
							// left: 1em;
							padding: 1em;
						}

						&:target{
							z-index: 30;
							opacity: 1;
						}

						&>.photo{
							position: relative;
							display: inline-block;
							// display: inline;
							width: 100%;
							height: 100%;
							overflow: visible;
							// display: flex;
							// justify-content: center;
							// align-items: center;

							&>picture{
								// display: inline-block;
								position: absolute;
								// max-width: 100%;
								// max-height: 100%;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%) scale(2);
								// transform: translate(0, -50%);
								vertical-align: middle;
								.box-shadow(0 0 .5em darken(@background-primary-accent, 30%));

								&>source, &>img{
									max-width: 100%;
									max-height: 100%;
								}
							}

							.photo-caption{
								display: none;
							}
						}
					}
					
					&:hover{
						&~.album-info{
							.translate(@viewer-sidebar-width, 0);
							.box-shadow(none);
							.transition(300ms);

							@media screen and (min-width: @breakpoint-l) and (orientation: landscape) {
								.translate(0,0);
								.box-shadow(0 0 .5em darken(@background-primary-accent, 30%));
							}
						}
					}
				}
				&>.album-info{
					position: absolute;
					z-index: 70;
					top: 0;
					right: 0;
					bottom: @viewer-dock-height;
					width: @viewer-sidebar-width;
					margin: 0;
					padding: .5em;
					overflow-y: auto;
					background-color: @background-primary;
					.box-shadow(0 0 .5em darken(@background-primary-accent, 30%));

					@media screen and (min-width: @breakpoint-l) and (orientation: landscape) {
						z-index: 80;
						bottom: 0;
						padding: 1em;
					}
				}
				&>.album-thumbs{
					position: absolute;
					z-index: 80;
					right: 0;
					bottom: 0;
					left: 0;
					height: @viewer-dock-height;
					margin: 0;
					padding: 0;
					white-space: nowrap;
					overflow-x: auto;
					background-color: @background-primary;
					.box-shadow(0 0 .5em darken(@background-primary-accent, 30%));

					@media screen and (min-width: @breakpoint-l) and (orientation: landscape) {
						z-index: 70;
						right: @viewer-sidebar-width;
					}

					&>li{
						display: inline-block;
						vertical-align: middle;
						width: @viewer-dock-height;
						height: @viewer-dock-height;
						padding: .25em;
						
						@media screen and (min-width: @breakpoint-l) and (orientation: landscape) {
							width: @viewer-dock-height;
							height: @viewer-dock-height;
							padding: .5em;
						}

						&>img{
							display: block;
							width: 100%;
							height: 100%;
							margin: 0;
						}
					}
				}
				&>#form-photo{
					display: none;
				}
			}
		}
		#footer{
			display: none;
		}
	}
}

#page-options{
	position: fixed;
	z-index: 99;
	bottom: 1em;
	left: 1em;
	
	@media screen and (min-width: @breakpoint-l) {
		position: absolute;
		position: sticky;
		top: 1em;
		right: 1em;
		bottom: auto;
		left: auto;
	}	
}

blockquote{
	margin-left: 0;
	padding: 0 .5em 0 1em;
	overflow: auto;
	border-left: .5em solid #c0c0c0;
}

fieldset{
	padding: 0 1em;
	margin: 1em 0;
	background-color: @background-primary-accent;
	border: none;
	
	&>legend{
		padding: .5em;
		background-color: @background-secondary;
		.gradient(@background-secondary, lighten(@background-secondary, 5%), @background-secondary);
		color: @color-secondary;
		.border-radius(.5em);
	}

	&>div{
		position: relative;
		margin: 1em 0;
	}
}
fieldset+div{
	margin-top: 1em;
	text-align: right;
}
label, button, .button, input, select, textarea{
	display: inline-block;
	margin: 0;
	padding: .5em;
}
button, .button{
	text-decoration: none;
	background-color: @background-secondary;
	.gradient(@background-secondary, lighten(@background-secondary, 5%), @background-secondary);
	color: @color-secondary;
	border-color: @background-secondary;
	.border-radius(.5em);

	&:hover, &:focus{
		.box-shadow(0 0 .5em @background-secondary-accent);
		background-color: @background-secondary;
		background-image: none;
		outline: none;
	}
	&:active{
		background-color: @background-secondary-accent;
		background-image: none;
		border-color: @background-secondary-accent;
		.box-shadow(0 0 .5em @background-secondary);
	}
}
input[type="file"]{
	background-color: #fff;

	&::-webkit-file-upload-button{
		// &:extend(button);
		padding: .25em .5em;
		margin: -.25em;

		// &:active{
		// 	&:extend(button:active);
		// }
	}
}
input[type="checkbox"], input[type="radio"]{
	&~.checkbox-label, &~.radio-label{
		margin-left: .5em;
	}
	&:not(:checked){
		&~.checkbox-label, &~.radio-label{
			opacity: .7;
		}
	}
}
select{
	.border-radius(0);

	&[size="1"], &:not([size]), &:not([multiple]){
		-webkit-appearance: menulist-button;
		height: 2em;
		overflow: auto;

		option{
			padding: .5em;
		}
	}
}
textarea{
	resize: vertical;
}

input, select, textarea{
	&~.field-indication{
		position: absolute;
		bottom: 100%;
		bottom: ~"calc(100% + .5em)";
		left: 0;
		padding: .5em;
		font-size: .8em;
		font-style: italic;
		background-color: @background-secondary;
		color: @color-secondary;
		opacity: 0;
		visibility: hidden;
		.transition(~"opacity .3s, visibility 0 .3s");

		&:after{
			content: '';
			position: absolute;
			top: 100%;
			left: 1em;
			border: .5em solid transparent;
			border-top-color: @background-secondary;
		}
	}
	&:focus~.field-indication{
		opacity: 1;
		visibility: visible;
		.transition(~"opacity .3s, visibility 0 0");
	}
}
label[for]:first-child:not(:last-child){
	width: 100%;
	
	@media screen and (min-width: @breakpoint-l) {
		width: 25%;
	}

	&+input, &+select, &+textarea{
		width: 100%;
		
		@media screen and (min-width: @breakpoint-l) {
			width: 75%;

			&~.field-indication{
				left: 25%;
			}
		}
	}
}

.alert{
	padding: .75em;
	background-color: @background-secondary;
	color: @color-secondary;
	.border-radius(.5em);

	&.info{
		background-color: #33b5e5;
	}
	&.success{
		background-color: #99cc00;
	}
	&.error{
		background-color: #ff4444;
	}
	&.warning{
		background-color: #ffbb33;
	}
}

img{
	max-width: 100%;
	height: auto;
}

.album-description{
	margin-left: 0;
}
.users-list{
	margin: 0 -.5em;
	padding: 0;
	list-style: none;
	
	&:after{
		content: '';
		&:extend(.clearfix);
	}

	&>.user{
		display: inline-block;
		vertical-align: middle;
		padding: .25em;
		width: 20%;

		@media screen and (min-width: @breakpoint-l) {
			padding: .5em;
		}

		&>a{
			display: block;
			padding: .25em;
			text-align: center;
			vertical-align: middle;
			text-decoration: none;
			background-color: @background-primary-accent;
			.transition(200ms);

			@media screen and (min-width: @breakpoint-l) {
				padding: .5em;
			}

			&:hover, &:focus{
				.box-shadow(0 0 .5em darken(@background-primary-accent, 50%));
				outline: none;
			}
			&:active{
				background-color: darken(@background-primary-accent, 10%);
			}
			&>picture.user-avatar{
				position: relative;
				display: block;
				vertical-align: middle;
				padding-top: 100%;

				&>source, &>img{
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
			&>.user-pseudo{
				display: block;
				margin-top: .5em;
			}
		}
	}
}
.user-profile{
	margin-bottom: 2em;

	@media screen and (min-width: @breakpoint-l) {
		display: table;
		width: 100%;
	}

	&>.user-profile-avatar{
		display: none;

		@media screen and (min-width: @breakpoint-l) {
			display: table-cell;
			width: 30%;
			padding-right: 1em;
			margin-bottom: 0;
			vertical-align: top;
		}

		&>.user-avatar{
			display: block;
			position: relative;
			padding-top: 100%;

			&>source, &>img{
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
	&>.user-profile-content{
		@media screen and (min-width: @breakpoint-l) {
			display: table-cell;
			width: 70%;
			vertical-align: top;
		}
	}
}
.albums-list{
	margin: 0;
	padding: 0;
	list-style: none;

	&>.album{
		&>a{
			display: block;
			padding: .5em;
			text-decoration: none;
			background-color: @background-primary-accent;
			.transition(200ms);

			@media screen and (min-width: @breakpoint-l) {
				padding: 1em;
			}

			&:hover, &:focus{
				.box-shadow(0 0 .5em darken(@background-primary-accent, 50%));
				outline: none;
			}
			&:active{
				background-color: darken(@background-primary-accent, 10%);
			}

			&>.album-preview{
				margin: 0 -.25em -.25em;
				padding: 0;
				list-style: none;
				overflow: hidden;

				@media screen and (min-width: @breakpoint-l) {
					margin: 0 -.5em -.5em;
				}

				&:after{
					content: '';
					&:extend(.clearfix);
				}

				&>.album-preview-thumb{
					display: inline-block;
					vertical-align: middle;
					padding: .25em;
					width: 20%;

					@media screen and (min-width: @breakpoint-l) {
						padding: .5em;
					}

					&>picture.thumb{
						position: relative;
						display: block;
						vertical-align: middle;
						padding-top: 100%;

						&>source, &>img{
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							width: 100%;
							height: 100%;
						}
					}
				}
			}
		}
	}

	&>.album+.album{
		margin-top: 1em;
	}
}
.album-photos{
	margin: 0;
	padding: 0;
	list-style: none;

	&>li{
		padding-top: 2em;
	}

	.photo{
		position: relative;
		margin: 0;
		min-height: 5em;

		&>picture{
			display: block;

			&>source, &>img{
				display: block;
				width: 100%;
				height: 100%;
			}
		}

		&>.photo-caption{
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			padding: .5em;
			background-color: fade(@background-secondary, 30%);
			color: fade(@color-secondary, 60%);
			transition: .3s;

			@media screen and (min-width: @breakpoint-l) {
				padding: 1em;
			}

			&>h2{
				margin: 0;
			}
		}
		&:hover, &:focus{
			&>.photo-caption{
				background-color: fade(@background-secondary, 80%);
				color: @color-secondary;
			}
		}
	}
}

#footer{
	&>.container{
		padding-right: 1em;
		padding-left: 1em;
		text-align: center;
	}
}